@model Ads.Web.Mvc.Models.LoginViewModel
@using System.Security.Claims

<ul class="navbar-nav ml-auto mt-10">
    @if (User?.Identity?.IsAuthenticated == false)
    {
        <li class="nav-item">
            <a class="nav-link login-button" asp-controller="Auth" asp-action="Login">Login</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            Merhaba Hoşgeldiniz, @User?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value
        </li>

        <li class="nav-item">
            <a class="nav-link login-button" asp-controller="Auth" asp-action="Logout">Logout</a>
        </li>

    }
    <li class="nav-item">
        <a class="nav-link text-white add-button" asp-controller="">
            <i class="fa fa-plus-circle"></i> Add Listing
        </a>
    </li>
</ul>
