<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("Partials/Home/_head")
<body class="body-wrapper">

 @await Html.PartialAsync("Partials/Home/_topMenu")


    @RenderBody()


@await Html.PartialAsync("Partials/Home/_footer")
@await Html.PartialAsync("Partials/Home/_copyright")    
@await Html.PartialAsync("Partials/Home/_scripts")
@await RenderSectionAsync("Scripts", required: false)


</body>
</html>

