@model RegisterViewModel




<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border border">
                    <h3 class="bg-gray p-4">Register Now</h3>
                    <form asp-action="Register" asp-controller="Auth" method="post" >
                        <fieldset class="p-4">
                            <div class="row">
                                <div class="col-sm">
                                <input asp-for="Name" placeholder="Name*" class="border p-3 w-100 my-2">
                                <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="col-sm">
                                    <input asp-for="Surname" placeholder="Surname*" class="border p-3 w-100 my-2">
                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                </div>
                            </div>
                            <div>
                                <input asp-for="Address" placeholder="Adress*" class="border p-3 w-100 my-2">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div>
                                <input asp-for="Username" placeholder="Email*" class="border p-3 w-100 my-2">
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div>
                            <input asp-for="Password" placeholder="Password*" class="border p-3 w-100 my-2">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div>
                            <input asp-for="ConfirmPassword" placeholder="Confirm Password*" class="border p-3 w-100 my-2">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div class="loggedin-forgot d-inline-flex my-3">
                                <input type="checkbox" id="registering" class="mt-1">
                                <label for="registering" class="px-2">By registering, you accept our <a class="text-primary font-weight-bold" href="terms-condition.html">Terms & Conditions</a></label>
                            </div>
                            <button type="submit" class="d-block py-3 px-4 bg-primary text-white border-0 rounded font-weight-bold">Register Now</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}